@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: black;
}
ul{
  text-decoration: none;
  list-style: none;
}
body {
  color: black;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 75px;
}
/* Navigation bar */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
  border-bottom: 1px solid rgb(224, 224, 224);
  width: 100%;
  position: fixed;
  top: 0;
  height: 72px;
  background-color: white;
  z-index: 1000;
  color: black;
}
nav>ul{
  display: flex;
  justify-content: space-between;
}
nav>ul>li{
  padding: 0 20px;
}
.top-logo{
  font-weight: 800;
  font-size: 40px;
  font-family: cursive;
  color: rgb(51 122 177);
}
.search{
  padding: 0 20px;
  width: 593px;
  display: flex;
  justify-content: center;
}
.search-input-field{
  width: 80%;
  height: 40px;
  border: 1px solid rgb(51 122 177);
  border-radius: 10px;
  padding-left: 10px;
}

.tooltip>a{
  position: relative;
  display: inline-block;
  color: rgb(51 122 177);
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 20px;
  /* width: 100px; */
  background-color: rgb(51 122 177);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 95%;
  left: 30%;
  margin-left: -5px;
}
.tooltip>a:hover{
  color: rgb(51 122 177);
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* Menu bar--- */
.menu-items{
  display: flex;
  max-width: 1100px;
  justify-content: space-evenly;
  margin: 10px auto;
  height: 30px;
}
.menu-items>li>a{
  font-size: 17px;
  font-weight: 100;
  color: grey;
}
.menu-items>li>a:hover{
  color: rgb(51 122 177);
  border-bottom: 2px solid rgb(51 122 177);
}
.container>h1{
  font-size: 2em;
}

/* Home page */
.main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main>img{
  width: 100%;
  height: 70%;
}
.products{
  display: flex;
  flex-wrap: wrap;
}
.products>li{
  height: auto;
  margin: 20px;
  width: calc(33% - 40px);
}
.title{
  color: rgb(51 122 177);
}
/* ----products-slider---- */
.container{
  padding: 10px;
}
.row-container {
  display: flex;
  /* gap: 2.2rem; */
  overflow-x: scroll;
  /* overflow-y: hidden; */
  white-space: nowrap;
  scroll-behavior: smooth;
  position: relative;
  /* padding: 1rem 0.6rem; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.row-container::-webkit-scrollbar {
  display: none;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* -----products-page---- */
.products-home{
  padding: 20px 9%;
}
.products-home>div>h1{
  padding: 50px 0 0 0;
}
.products-list{
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 0 0;
  margin-left: -10px;
  justify-content: space-between;
}
.products-list>li{
  margin: 10px 0 10px 10px;
  width: 300px;
  border-radius: 2px;
}
.products-list>li>a>img{
  border-radius: 10px 10px 0 0;
  height: 300px;
  width: 300px;
}
.title-home{
  font-size: 20px;
  font-weight: 100;
}
.item-text{
  margin: 10px;
}
.item-text>h3{
  color: rgb(119, 28, 28);
  font-weight: 100;
}
.actual-price{
  color: grey;
  font-size: 16px;
  font-weight: 100;
  text-decoration: line-through;
  margin-left: 5px;
}
.item-text>p{
  font-size: 15px;
  color: rgb(72, 72, 72);
}
.products-list>li:hover{
  box-shadow: 0 0 10px 0px rgb(172, 172, 172);
  transition: .2s ease;
  a{
    color: rgb(51 122 177);
  }
}
.product-item{
  display: flex;
  padding: 20px 0;
}
.product-item>section>img{
  height: 400px;
  width: 400px;
  background-color: rgb(225, 225, 225);
}
.single-product-details{
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-details>p{
  color: rgb(143, 143, 143);
  font-size: 16px;
  padding: 10px 0;
}
.top-details>h1{
  font-size: 30px;
}
.top-details>h4{
  color: rgb(51 122 177);
  font-size: 15px;
}
.top-details>ul>li{
  font-size: 15px;
  margin: 10px 0;
}
.price{
  color: black;
  font-size: 30px;
}
.discount{
  color: rgb(51 122 177);
  font-size: 17px;
}
.hardcode-offers{
  color: green;
  font-size: 15px;
}

.cartbutton{
  background-color: rgb(51 122 177);
  border: none;
  color: white;
  margin-top: 20px;
  padding: 10px 40px;
  border-radius: 50px;
  margin-bottom: 20px;
  font-size: 20px;
}
.cartbutton:hover{
  background-color: rgb(59 155 230);
  cursor: pointer;
}
/* ----Cart page---- */
.cart{
  margin: 20px 7%;
  display: flex;
  justify-content: space-evenly;

}
.cart-list{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px 90px 20px 0;
  padding: 10px;
  height: 200px;

}
.cart-item-detials{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-item-detials>div>h1:hover{
  color: rgb(51 122 177);
  text-decoration: underline;
  cursor: pointer;
}
.operator{
  border: none;
  font-size: 20px;
  padding: 0 5px;
  color: white;
  background-color: rgb(51 122 177);
}
.quantity-output{
  font-size: 20px;
  padding: 1px 20px;
  background-color: rgb(232, 232, 232);
}
.item-total-amount{
  display: 'flex';
  flex-direction: column;
  padding-left: 20%;
}
.item-details{
  display: flex;
}
.item-details>img{
  margin-right: 20px;
  background-color: rgb(225, 225, 225);
}
.remove{
  background-color: white;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  color: rgb(51 122 177);
  font-size: 15px;
}
.remove:hover{
  text-decoration: none;
}
.total-pricing{
 box-shadow: 0px 0px 10px 0px rgb(211, 211, 211);
 padding: 10px 20px;
 border-radius: 5px;
 display: flex;
 height: 500px;
 flex-direction: column;
 justify-content: space-between;
}
.item-total-amount{
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-between;
}
.sub{
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.sub>h5{
  color: rgb(51 122 177);
}
.item-total{
  padding: 20px 0;
  border-bottom: 1px solid grey;
}
/* -----Footer---- */
footer{
  background-color: rgb(51 122 177);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 40px;
  text-align: center;
}
.first-footer-section{
  display: flex;
  justify-content: space-between;
  padding: 10px 50px 20px 50px;
  text-align: left;
  border-bottom: 1px solid white;
  color: white;
}
.about-footer{
  margin-right: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.about-items{
  font-size: 20px;
  color: white;
  font-weight: 100;
  padding: 10px 0;
  margin-right: 20px;
}
.service-footer{
  margin-right: 20px;
  width: 100%;
  margin-bottom: 20px;
}
.cs-items{
  margin: 10px 0;
}
.list{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 15px;
}
.list>li>a{
  color: white;
}
.bottom-footer-section{
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
  text-align: left;
}
.bottom-footer-section>ul{
  display: flex;
}

.bottom-footer-section>ul>li{
  display: flex;
  padding: 10px 20px 10px 0;
}

/* ----Not-Found Error page---- */
.error-page{
  display: flex;
  text-align: left;
  justify-content: space-evenly;
  align-items: center;
}
.error404{
  font-size: 100px;
  color: rgb(51 122 177);
}
.details-error>h2{
  color: rgb(214, 0, 0);
  font-family:monospace;
  margin-bottom: 10px;
}
/*----Error Page---- */
.error505{
  text-align: center;
}
/* ---successful checkout pge--- */
.successpage{
  text-align: center;
  margin-bottom: 40px;
}
.successpageheading{
  color: green;
  padding-bottom: 10px;
}
.successpara{
  color: grey;
  padding-bottom: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ----Responsive Design---- */
@media (max-width: 768px) {
  header{
    height: 140px;
    position:sticky;
  }
  .search{
    position: absolute;
    top: 84px;
    left: 0px;
    background-color: white;
    padding: 10px;
    width: 100%;
    z-index: 20;
  }

  .container{
    width: 100%;
    padding: 0;
  }
  .container>h1, p{
    text-align: left;
  }
  .menu-items{
    display: none;
  }
  main>img{
    position: relative;
  }
  .product {
      width: calc(50% - 40px); /* 2 products per row */
  }
  .product-item{
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .single-product-details>section>p{
    text-align: left;
  }
}

@media (max-width: 480px) {
  nav{
    padding: 10px;
  }
  .search-input-field{
    width: 100%;
  }
  .product {
      width: 100%; /* 1 product per row */
  }
  .products-home{
    padding: 10px;
  }
  footer{
    padding: 1em;
  }
  .product-item>section>img {
    height: 100%;
    width: 100%;
}
.first-footer-section {
  display: flex;
  flex-direction: column;
  padding: 0;
}
  .bottom-footer-section{
    padding: 0;
  }
.brands{
  display: flex;
  flex-direction: column;
}
.tnc{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
}
